<div nz-row>
    <div nz-col nzSpan="6" style="padding-right: 5px;">
        <app-date-input label="Fecha de ingreso" (onChangeForm)="onChangeValue($event)" [form]="form"></app-date-input>
    </div>
    <div nz-col nzSpan="6" style="padding-right: 5px;">
        <app-text-input label="Número de proceso" (onChangeForm)="onChangeValue($event)" [form]="form"></app-text-input>
    </div>
    <div nz-col nzSpan="6" style="padding-right: 5px;">
        <app-text-input label="Acción/Infracción" (onChangeForm)="onChangeValue($event)" [form]="form"></app-text-input>
    </div>
    <div nz-col nzSpan="6">
        <app-text-input [label]="actor ? 'Demandado/Procesado' : 'Actor/Ofendido' " (onChangeForm)="onChangeValue($event)" [form]="form"></app-text-input>
    </div>
</div>