<h2>{{title}}</h2>
<nz-table #basicTable [nzData]="listOfData" [nzFrontPagination]="false">
    <thead>
      <tr>
        <th *ngFor="let field of tableTitles">{{field}}</th>
      </tr>
    </thead>
    <tbody *ngIf="listOfData?.length">
      <tr *ngFor="let data of basicTable.data">
        <td class="field--uppercase" *ngFor="let field of fieldsInSnakeCase" >{{ data[field] }}</td>
      </tr>
    </tbody>
    <div  class="field--uppercase" *ngIf="!register">
      No registra
    </div>
  </nz-table>