<div nz-row>
    <div nz-col nzSpan="6" style="padding-right: 5px;">
        <app-text-input label="Institución" (onChangeForm)="onChangeValue($event)" [form]="form"></app-text-input>
    </div>
    <div nz-col nzSpan="6" style="padding-right: 5px;">
        <app-text-input label="Cargo" (onChangeForm)="onChangeValue($event)" [form]="form"></app-text-input>
    </div>
    <div nz-col nzSpan="6" style="padding-right: 5px;">
        <app-text-input label="Inicio" (onChangeForm)="onChangeValue($event)" [form]="form"></app-text-input>
    </div>
    <div nz-col nzSpan="6">
        <app-text-input label="Fin" (onChangeForm)="onChangeValue($event)" [form]="form"></app-text-input>
    </div>
</div>