<div nz-row>
    <div nz-col nzSpan="6" style="padding-right: 5px;">
        <app-text-input label="Nombre" (onChangeForm)="onChangeValue($event)"></app-text-input>
    </div>
    <div nz-col nzSpan="4" style="padding-right: 5px;">
        <app-select-input placeholder="Buscar" label="Cargo" (onChangeForm)="onChangeValue($event)" [options]="['Asambleista', 'Alcalde', 'Otro']"></app-select-input>
    </div>
    <div nz-col nzSpan="3" style="padding-right: 5px;">
        <app-date-input label="Fecha" (onChangeForm)="onChangeValue($event)"></app-date-input>
    </div>
    <div nz-col nzSpan="3" style="padding-right: 5px;">
        <app-text-input label="CIIU" (onChangeForm)="onChangeValue($event)"></app-text-input>
    </div>
    <div nz-col nzSpan="8">
        <app-text-input label="Descripción" (onChangeForm)="onChangeValue($event)"></app-text-input>
    </div>
</div>