<div class="content">
  <div class="view_content_body" *ngIf="record">
      <h1>Composición del poder ejecutivo. Gobierno de Guillermo Lasso Mendoza</h1>
      <div nz-row>
          <div nz-col class="colum_padding center_content" nzSpan="8">
              <nz-avatar nzIcon="user" [nzSize]="200" [nzSrc]="record.imagen_de_perfil">
              </nz-avatar>
          </div>
          <div nz-col class="colum_padding" nzSpan="16">
              <nz-card>
                  <app-field-value [field]="'Datos personales'" [value]="' '"></app-field-value>
                  <div class="view_content_field--space"></div>
                  <app-field-value [field]="'Apellidos'" [value]="record.apellidos"></app-field-value>
                  <app-field-value [field]="'Nombres'" [value]="record.nombres"></app-field-value>
                  <app-field-value [field]="'Cédula'" [value]="record.cedula_de_identidad"></app-field-value>
                  <app-field-value [field]="'Fecha de nacimiento'" [value]="record.fecha_de_nacimiento">
                  </app-field-value>
                  <app-field-value [field]="'Edad'" [value]="ageCalculation(record.fecha_de_nacimiento)"></app-field-value>
                  <app-field-value [field]="'Sexo'" [uppercase]="true" [value]="record.sexo"></app-field-value>

                  <app-field-value [field]="'Cargo Designado'" [value]="record.cargo_designado"></app-field-value>
                  <app-field-value [field]="'Fecha de designación'"  [value]="record.fecha_de_designacion"></app-field-value>
              </nz-card>
          </div>
      </div>
      <br />
      <div nz-row>
          <div nz-col class="colum_padding" nzSpan="24">
              <app-data-table title="Registro de formación académica (Senescyt)" blockname="academy" [form]="record"
                  [tableTitles]="['Título','Instituto de Educación Superior','Número de registro']"
                  [tableFields]="['Título','IES','Registro']">
              </app-data-table>
          </div>
      </div>

      <br />
      <div nz-row>
          <div nz-col class="colum_padding" nzSpan="24">
              <app-data-table title="Registros de participación electoral previa (Consejo Nacional Electoral)" blockname="previous_elections"
                  [form]="record"
                  [tableFields]="['Cargo','Circunscripción','Organización política','Año','Situación']">
              </app-data-table>
          </div>
      </div>

      <br />
      <div nz-row>
          <div nz-col class="colum_padding" nzSpan="24">
              <app-data-table title="Registros de trayectoria en servicio público (Contraloría General del Estado)"
                  blockname="trayectory_service" [form]="record"
                  [tableFields]="['Institución','Cargo','Inicio','Fin']">
              </app-data-table>
          </div>
      </div>

      <br />
      <div nz-row>
          <div nz-col class="colum_padding" nzSpan="24">
              <app-data-table title="Registros de administración en compañías y sociedades (Superintendencia de Compañías)"
                  blockname="companies_societies" [form]="record"
                  [tableFields]="['Nombre','Cargo','Fecha','Objeto social','CIIU','Descripción']">
              </app-data-table>
          </div>
      </div>

      <br />
      <div nz-row>
          <div nz-col class="colum_padding" nzSpan="24">
              <app-data-table title="Registros de accionista en compañías y sociedades (Superintendencia de Compañías)"
                  blockname="shareholder_companies_societies" [form]="record"
                  [tableFields]="['Nombre','Capital invertido','Capital total','Situación legal','Objeto social','CIIU','Descripción']">
              </app-data-table>
          </div>
      </div>

      <br />
      <div nz-row>
          <div nz-col class="colum_padding" nzSpan="12">
              <app-data-table title="Declaración de impuesto a la renta (Servicio de Rentas Internas)"
                  blockname="tax_declaration" [form]="record" [tableFields]="['Fecha','Monto']">
              </app-data-table>
          </div>
          <div nz-col class="colum_padding" nzSpan="12">
              <app-data-table title="Declaración de impuesto a la salidad de divisas (Servicio de Rentas Internas)"
                  blockname="taxes_foreign_currency" [form]="record" [tableFields]="['Fecha','Monto']">
              </app-data-table>
          </div>
      </div>

      <br />
      <div nz-row>
          <div nz-col class="colum_padding" nzSpan="24">
              <app-data-table title="Registro de procesos judiciales como actor / ofendido (Consejo de la Judicatura)"
                  blockname="legal_proceedings_actor" [form]="record"
                  [tableFields]="['Fecha de ingreso','Número de proceso','Acción/Infracción','Demandado/Procesado']">
              </app-data-table>
          </div>
      </div>

      <br />
      <div nz-row>
          <div nz-col class="colum_padding" nzSpan="24">
              <app-data-table
                  title="Registro de procesos judiciales como demandado / procesado (Consejo de la Judicatura)"
                  blockname="legal_proceedings_defendant" [form]="record"
                  [tableFields]="['Fecha de ingreso','Número de proceso','Acción/Infracción','Actor/Ofendido']">
              </app-data-table>
          </div>
      </div>

      <br />
      <div nz-row>
          <div nz-col class="colum_padding" nzSpan="24">
              <app-data-table title="Registro de pensiones alimenticias (Consejo de la Judicatura)"
                  blockname="alimony_pensions" [form]="record"
                  [tableFields]="['Código de tarjeta','Proceso judicial','Deuda']">
              </app-data-table>
          </div>
      </div>

      <br />
      <div nz-row>
          <div nz-col class="colum_padding" nzSpan="12">
              <nz-card>
                  <app-field-value [field]="'Redes sociales'" [value]="' '"></app-field-value>
                  <div class="view_content_field--space"></div>
                  <app-field-value [field]="'Página web'" [link]="true" [value]="record.pagina_web"></app-field-value>
                  <app-field-value [field]="'Facebook'" [link]="true" [value]="record.facebook"></app-field-value>
                  <app-field-value [field]="'Twitter'" [link]="true" [value]="record.twitter"></app-field-value>
                  <app-field-value [field]="'Instagram'" [link]="true" [value]="record.instagram"></app-field-value>
                  <app-field-value [field]="'TikTok'" [link]="true" [value]="record.tik_tok"></app-field-value>
                  <app-field-value [field]="'LinkedIn'" [link]="true" [value]="record.linked_in"></app-field-value>
                  <app-field-value [field]="'Otras'" [link]="true" [value]="record.otras"></app-field-value>
              </nz-card>
          </div>
          <div nz-col class="colum_padding" nzSpan="12">
              <nz-card>
                  <app-field-value [field]="'Datos adicionales'" [value]="' '"></app-field-value>
                  <div class="view_content_field--space"></div>
                  <app-field-value [field]="'Información adicional'" [uppercase]="true"
                      [value]="record.informacion_adicional"></app-field-value>
              </nz-card>
          </div>
      </div>

      <br />
      <div class="logo_container">
          <div>Supported by: &nbsp; &nbsp; &nbsp; &nbsp; </div>
          <div>
              <h3 class="cuadrante_title">CUADRANTE</h3>
              <h3 class="cuadrante_title">SUR</h3>
          </div>
          <div>
              <img class="loging-image" src="../../../assets/images/logo_ligth.png">
          </div>
      </div>
  </div>
  <button *ngIf="record && showButton" nz-button nzType="primary" (click)="generatePdf()">Generar pdf</button>
</div>