<div nz-row>
    <div nz-col nzSpan="6" style="padding-right: 5px;">
        <app-text-input label="Nombre" (onChangeForm)="onChangeValue($event)"></app-text-input>
    </div>
    <div nz-col nzSpan="3" style="padding-right: 5px;">
        <app-text-input label="Capital invertido" (onChangeForm)="onChangeValue($event)"></app-text-input>
    </div>
    <div nz-col nzSpan="3" style="padding-right: 5px;">
        <app-text-input label="Capital total" (onChangeForm)="onChangeValue($event)"></app-text-input>
    </div>
    <div nz-col nzSpan="3" style="padding-right: 5px;">
        <app-text-input label="Situación legal" (onChangeForm)="onChangeValue($event)"></app-text-input>
    </div>
    <div nz-col nzSpan="3" style="padding-right: 5px;">
        <app-text-input label="Ciiu" (onChangeForm)="onChangeValue($event)"></app-text-input>
    </div>
    <div nz-col nzSpan="6">
        <app-text-input label="Descripción" (onChangeForm)="onChangeValue($event)"></app-text-input>
    </div>
</div>