<div nz-row>
    <div nz-col nzSpan="5" style="padding-right: 5px;">
        <app-text-input label="Nombre" (onChangeForm)="onChangeValue($event)"></app-text-input>
    </div>
    <div nz-col nzSpan="3" style="padding-right: 5px;">
        <app-text-input label="Capital invertido" (onChangeForm)="onChangeValue($event)"></app-text-input>
    </div>
    <div nz-col nzSpan="3" style="padding-right: 5px;">
        <app-text-input label="Capital total" (onChangeForm)="onChangeValue($event)"></app-text-input>
    </div>
    <div nz-col nzSpan="3" style="padding-right: 5px;">
        <app-text-input label="Situación legal" (onChangeForm)="onChangeValue($event)"></app-text-input>
    </div>
    <div nz-col nzSpan="3" style="padding-right: 5px;">
        <app-text-input label="Objeto social" (onChangeForm)="onChangeValue($event)"></app-text-input>
    </div>
    <div nz-col nzSpan="3" style="padding-right: 5px;">
        <app-text-input label="CIIU" (onChangeForm)="onChangeValue($event)"></app-text-input>
    </div>
    <div nz-col nzSpan="4">
        <app-text-input label="Descripción" (onChangeForm)="onChangeValue($event)"></app-text-input>
    </div>
</div>