.demo-loadmore-list {
    padding: 10px;
    height: auto;
    background-color: white;
}
.grid-content-container {
    padding: 10px;
}
.loadmore {
    text-align: center;
    margin-top: 12px;
    height: 32px;
    line-height: 32px;
}
