<div nz-row>
    <div nz-col nzSpan="12" style="padding-right: 5px;">
        <app-text-input label="Titulo" (onChangeForm)="onChangeValue($event)" [form]="form"></app-text-input>
    </div>
    <div nz-col nzSpan="6" style="padding-right: 5px;">
        <app-text-input label="IES" (onChangeForm)="onChangeValue($event)" [form]="form"></app-text-input>
    </div>
    <div nz-col nzSpan="6">
        <app-text-input label="Registro" (onChangeForm)="onChangeValue($event)" [form]="form"></app-text-input>
    </div>
</div>